.train__characteristics {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.train__table {
  display: flex;
}
.train__table-countainer {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  padding-top: 25px;
  flex-direction: column;
  text-align: center;
  max-width: 900px;
}
.train__characteristics-countainer {
  max-width: 900px;
}
.train__table-column {
  flex-direction: column;
  background-color: white;
  display: flex;
  margin-top: 10px;
}
.train__table-header {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  font-size: 24px;
  padding-left: 20px;
}

.app-background {
  background-color: white;
}
.app-display {
  display: flex;
  padding: 15px 0;
  width: 100%;
  background-color: rgb(246, 248, 250);
}
.train__table-description {
  background-color: rgb(246, 248, 250);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 80px;
}
.train__table-list {
  width: 40%;
  margin-right: 50px;
  margin-left: 20px;
  max-width: 430px;
}
.train__button-submit {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 20px 15px;
}
.train__button {
  align-self: center;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  cursor: pointer;
}
.train__table-description-td {
  color: gray;
}
.train__table-description-td:last-child {
  padding-right: 0px;
}
.train__table-description-list {
  padding-left: 20px;
}
.train__table-description-list:last-child {
  padding-right: 20px;
}
.train__button_disabled {
  background-color: gray;
}

@media screen and (max-width: 1250px) {
  .train__table-header {
    font-size: 20px;
  }
  .train__button {
    font-size: 14px;
  }
  .train__table-description {
    font-size: 16px;
    padding: 10px 30px;
  }
  .train__table-countainer {
    padding: 12px;
  }
  .train__table-list {
    margin-right: 20px;
  }
  .train__button-submit {
    padding: 15px 10px;
  }
}
@media screen and (max-width: 800px) {
  .train__table-description {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 600px) {
  .train__table-description {
    padding: 10px;
  }
  .train__button-submit {
    padding: 10px 5px;
  }
}
